.section {
  width: 100%;
  cursor: pointer;
}
/* .section {
  height: 410px;
  overflow-y: auto;
} */
.title {
  /* margin-bottom: 2rem; */
  display: flex;
}
.btn-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8px;
  /* display: block; */
}
.btn-container .btn1 {
  margin: 10px 0;
  height: 35px;
  padding: 0;
  width: 120px;
}
.menu-item {
  transform: scale(0.5) !important;
  height: 200px;
  width: 300px;
}

.menu-item input {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.section-center {
  display: flex;
  flex-wrap: wrap;
}
.underline {
  background-color: black;
  height: 3px;
  width: 16%;
  margin: 5px 5px;
  border-radius: 2px;
}
.btn-container svg {
  color: #1bb1dc !important;
}
@media screen and (max-width: 1000px) {
  .menu-item {
    width: 360px !important;
  }
}
@media screen and (max-width: 991px) {
  .menu-item {
    width: 285px !important;
  }
}
@media screen and (max-width: 770px) {
  .menu-item {
    width: 450px !important;
  }
}
@media screen and (max-width: 580px) {
  /* .menu-item {
    width: 360px !important;
  } */
  .btn-container {
    margin-bottom: 1rem;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
    /* display: block; */
  }
  .btn-container .btn1 {
    margin: 10px 5px;
    height: 35px;
    padding: 0;
    width: 100px;
    font-size: 1rem;
  }
  .btn-container p {
    font-size: 14px;
    margin: 0px 5px;
  }
}
